@font-face {
  font-family: 'PP Neue Montreal';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/PPNeueMontreal/PPNeueMontreal-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}