@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoRegularNerdFontComplete.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoRegularItalicNerdFontComplete.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoLightNerdFontComplete.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoLightItalicNerdFontComplete.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoMediumNerdFontComplete.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoMediumItalicNerdFontComplete.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoSemiboldNerdFontComplete.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoSemiboldItalicNerdFontComplete.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoBoldNerdFontComplete.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoBoldItalicNerdFontComplete.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoHeavyNerdFontComplete.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SF Mono Nerd Font';
  src: url('https://rawcdn.githack.com/tgmadlife/cdn/20260510-v2/fonts/SFMono/SFMonoHeavyItalicNerdFontComplete.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}